//- Menú principal
-const menu = ['¿Quiénes Somos?', 'quienessomos.html', 'proyectos', 'proyectos.html', 'contactar', 'contactar.html']

//- Bucle para
aside
    nav
        each link in menu
            a(class="nav__" + menu, href = link + ".html")= link


//- Branding
-let logotipo = "LOGO"


//- Botones
-let button = ["INICIO","REGISTRO", "VER MÁS"]






