//- Menú principal
-const menu = ['¿Quiénes Somos?', 'quienessomos.html', 'proyectos', 'proyectos.html', 'contactar', 'contactar.html']

//- Branding
-let logotipo = "LOGO"


//- Botones
-let button = ["INICIO","REGISTRO", "VER MÁS"]






