include ../config/config
include ../mixins/content

<!DOCTYPE html>
html(lang="es")
    //- HEAD
    //- Con este tipo de include se mete todo el archivo .pug que hemos creado en otro lugar. Se incorpora en la línea exacta en la que llamamos.
    include head.pug
    block head
    
    body
        header.header
            include header.pug
            block header


        aside.sidebar
            include aside.pug
            //- En realidad el block lo usaremos para bloquear parts del navegador. Según la página que estemos pondremos una cosa u otra. Al pasar por el cursor por encima de los links, vamos a querer que cambien un poco su estado o previsualizacón

            block navegador

            
        main.main
            +content
            block main

        footer.footer
            include footer.pug
            block footer
